.screen-saver {
  position: fixed;
  z-index: 1000;
  background-color: var(--color-background);
  inset: 0;

  &__logo {
    position: absolute;
    width: 238px;
    height: 107px;
    display: block;
    animation: float 10s linear infinite;

    @keyframes float {
      0% {
        top: 0;
        left: 10%
      }

      25% {
        top: 10%;
        left: calc(100% - 238px)
      }

      50% {
        top: calc(100% - 107px);
        left: calc(50% - 119px)
      }

      75% {
        top: calc(80% - 107px);
        left: 0;
      }

      100% {
        top: 0;
        left: 10%
      }
    }
  }
}